*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #090910;
}

.eyesEmoticon{
    width:40rem;
    height:40rem;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.eyesEmoticon__eye{
    width:14rem;
    height:26rem;
    background:white;
    border-radius: 50%;
    position:relative;
    box-shadow: inset 0 0 2rem 1rem rgba(0,0,0,0.4);
}

.eyesEmoticon__iris{
    width:8rem;
    height:8rem;
    background:linear-gradient(#125c13,70%,#30d733);
    border-radius:50%;
    top:40%;
    left:10%;
    position:absolute;
}

/* pupil */
.eyesEmoticon__iris::before{
    content:"";
    height:65%;
    width:65%;
    background:black;
    position:absolute;
    top:50%;
    left:50%;
    border-radius:50%;
    transform: translate(-50%,-50%);
}

/* white shine on eye */
.eyesEmoticon__iris::after{
    content:"";
    height: 35%;
    width:30%;
    position:absolute;
    top:10%;
    left:18%;
    background:white;
    border-radius: 50%;
    transform:rotate(30deg);
}
